@charset "UTF-8";
html {
    font-size: 20px;
}
.todo-app {
    box-shadow: 0 0 0 1px black;
}

.todo-app output,
.todo-app input {
    font-size: 1em;
    color: #ddd;
    background-color: #111;
    font-family: monospace;
    padding: .5em;
    width: 80ch;
}
.todo-app output {
    display: block;
    height: 10em;
    overflow-y: scroll;
}

.todo-app output p {
    margin: 0;
}

.todo-app output p.success {
    color: lightgreen;
}

.todo-app output p.error {
    background-color: red;
}

.todo-app > ul {
    list-style-type: none;
    padding: 1em;
    display: flex;
}

.todo-app li {
    text-align: center;
    flex: 0 1 15ch;
    padding: 1em;
    margin: 1em;
    box-shadow: 0 0 .5em darkgrey;
}

.todo-app li button {
    font-size: 1.5em;
}

.todo-app .done {
    background-color: lightgreen;
}

.todo-app .not-done {
    background-color: lightyellow;
}
